@font-face {
    font-family: "Oswald";
    src: url("../css/font/Oswald-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "Andada Pro";
    src: url("../css/font/AndadaPro-VariableFont_wght.ttf") format("truetype");
}