@use "variables";
@use "fonts" as *;
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.lock {
   overflow: hidden;
}
.container {
   font-family: "Oswald";
   overflow-x: hidden;
   &__header {
       position: fixed;
       top: 0;
       left: 0;
       padding: 0 15px;
   }
}
.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   z-index: 99;
   background-color: variables.$overlay-color;
   opacity: 0;
   visibility: hidden;
   transition: all 0.3s;
}