$maxWidth: 1280;

$main-color: #734D4D;
$light-rose: #FFDEE6;
$overlay-color: rgba(0, 0, 0, 0.7);
$cursor-color: #fff; //#6A253E


@keyframes border-appereance {
    to {
        // border-top: 37px solid $main-color;
        top: -20px;
        height: 20px;
    }
}
@keyframes blinks {
    0%  { background-color: $cursor-color; }
    49% { background-color: $cursor-color; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: $cursor-color; }
}
@keyframes background-change {
    0% { background-image: url("../image/top_background-1.jpg"); }
    25% {
        background-image: url("../image/top_background-1.jpg");
        animation-delay: 3s;
    }
    26% {
        background-image: url("../image/top_background-2.jpg");
    }
    50% {
        background-image: url("../image/top_background-2.jpg");
        animation-delay: 3s;
    }
    51% {
        background-image: url("../image/top_background-3.jpg");
    }
    
    100% {
        background-image: url("../image/top_background-1.jpg");
    }
}