@use "../mixins";
@use "../variables" as vars;
.main {
   background: #fff;
   &__great-text {
      //  position: absolute;
      //  z-index: -1;
       width: 100%;
       height: 300px;
       @include mixins.adaptiv-font(30, 20);
       text-align: center;
       font-weight: 400;
       color: #fff;
      // background: url("../../image/section-1.png");
      background-size: cover;
      background-position: 20% 50%;
      // padding: 20px 0px 0px 0px;
      // margin-bottom: 137px;
       &_outline::before {
           content: "";
           display: block;
           border: 0px solid transparent;
           animation: border-appereance 1s ease-in-out 2s forwards;
           position: absolute;
           left: 0;
           top: 0;
           width: 100%;
           height: 0px;
           background-color: vars.$main-color;
       }
   }
   &__typing-container {
       padding: 30px 0px 50px 0px;
   }
   &__gallery-previews {
      padding: 70px 20px 20px 20px;
   }
}
.typing-container {
   display: none;
   position: absolute;
   left: 35%;
   z-index: 1;
   max-width: 90%;
   margin: 0 auto;
}
.typing-cursor {
   display: inline-block;
   background-color: vars.$cursor-color;
   margin-left: 0.1rem;
   width: 3px;
   height: 1.1em;
   animation: blinks 1s infinite;
   transform: translateY(0.2em);
   &.typing {
       animation: none;
   }
}
.branches {
   width: 100%;
   height: 300px;
   // background-size: contain;
   // box-shadow: 0 0 20px 30px #fff;
   &::before {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: hsl(0deg 33% 24%);
   }
   &__background {
      // background: linear-gradient(180deg, vars.$main-color 0%, transparent 50%);
      width: 100%;
      height: 50px;
      // position: relative;
      // top: -50%;
   }
   &__bird {
      background: url("../image/branch-section.jpg") left no-repeat;
      width: 100%;
      height: inherit;
      position: absolute;
      background-position-x: 5%;
      background-size: contain;
   }
   &__text {
      background: url("../image/section-1_text.png") top right no-repeat;
      position: absolute;
      width: 100%;
      height: inherit;
      background-size: 86%;
      background-position: -20% 29%;
      filter: brightness(0);
      z-index: 1;
   }
}
.slider {
   width: 80vw;
   // height: 200px;
   // border: 2px solid vars.$main-color;
   // box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
   // overflow: hidden; 
   // &__line {
   //    width: fit-content;
   //    display: flex;
   //    position: relative;
   //    left: 0px;
   //    transition: left 0.3s ease;
   // }
   // align-items: center;
}
.gallery-previews {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   // max-width: 100%;
}
.slide-wrapper {
   display: inline-block;
   &:not(:last-child) {
      margin: 0px 15px 15px 0px;
   }
}
.slick-slide {
   margin: 0 !important; 
}
.gallery-category {
   width: 400px;
   height: 200px;
   overflow: hidden;
   flex-shrink: 0;
   position: relative;
   display: flex; 
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-size: 120%;
   background-position: center;
   // filter: brightness(90%);
   
   &_with-slider {
      width: auto;
      margin: 0px 5px 0px 5px;
   }
   &__blur {
      width: 100%;
      height: 100%;
      position: absolute;
      backdrop-filter: blur(3px);
   }
   &__img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      transform-origin: center;
      transform: scale(1.6);
      // filter: brightness(80%);
      transition: all 2s cubic-bezier(0, 0, 0.2, 1);
   }
   &__img:hover {
      transform: scale(1.2);
      filter: none;
      transition: all 1s cubic-bezier(0, 0, 0.2, 1), filter 1s linear;
      & ~ .gallery-category__title {
         opacity: 0;
         transition: opacity 0.2s linear;
      }
   }
   &__title {
      position: absolute;
      bottom: 8px;
      left: 16px;
      font-size: 21px;
      color: #fff;
      filter: drop-shadow(0px 3px 2px vars.$main-color);
      opacity: 1;
      transition: opacity 0.2s linear;
   }
}

@media (max-width: 768px) {
   .gallery-category__title {
      left: 128px;
   }
}