@media (max-width: 425px) {
   .top {
      &__bgWrapper {
         background-position: 53% 100%;
      }
   }
   .nav {
      &__menu {
         font-size: 20px;
      }
      &__item {
         padding: 10px 20px !important;
      }
   }
   .main__gallery-previews {
      padding: 20px 20px;
   }
   .gallery-category {
      max-width: 300px;
      &:not(:last-child) {
         margin: 0;
         margin-right: 10px;
      }
   }
   .branches {
      &__bird {
         background-size: 158%;
         background-position-x: -5%;
      }
      &__text {
         background-size: 140%;
         background-position: 100% -23%;
      }
  }
   .footer {
      justify-content: center;
      :not(:last-child) {
         padding-bottom: 20px;
         flex-basis: 100%;
      }
   }
}