@media (max-width: 425px) {
   .nav {
      &__menu {
         font-size: 20px;
      }
      &__item {
         padding: 10px 20px !important;
      }
   }
   .main__gallery-previews {
      padding: 20px 20px;
   }
   .gallery-category {
      max-width: 300px;
      &:not(:last-child) {
         margin: 0;
         margin-bottom: 10px;
      }
   }
}