@use "../mixins";
@use "../variables" as vars;
.top {
   min-height: 95vh;
   color: #fff;
   background: radial-gradient(rgba(0,0,0,0) 0%, rgb(0 0 0 / 47%) 90%);
//    animation: background-change 9s linear infinite;
   &__about {
       padding-left: 10vw;
       padding-top: 20.5vh;
   }
}
.bgWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
        opacity: 0;
        transition: opacity 3s;
        &.active {
            opacity: 1;
        }
        &_shift {
            object-position: 65% 50%;
        }
    }
    // background: url('../image/top_background-1.jpg') no-repeat center center fixed,
    //             url('../image/top_background-2.jpg') no-repeat center center fixed,
    //             url('../image/top_background-3.jpg') no-repeat center center fixed;
    // // background-position: 60% 0%;
    // background-size: cover;
    // background-position: center;
    // &::before {
    //     @include mixins.pseudo-background(-2, "../image/top_background-1.jpg");
    // }
    // &::after {
    //     @include mixins.pseudo-background(-1, "../image/top_background-2.jpg");
    // }
    // &::before + ::after {
    //     background-image: url("../image/top_background-3.jpg");
    //     z-index: -3;
    // }
    // &.active::before {
    //     opacity: 1;
    //     transition-delay: 0.25s;
    // }
    // &.active::after {
    //     opacity: 1;
    // }
    // &__bg {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 100%;
    //     height: 100%;
        
    //     // background-size: cover;
    //     transition: background-image 3s;
    // }
}
// .bg-1 {
//     background-image: url("../image/top_background-1.jpg");
//     // background-position: 0% 0%;
// }
// .bg-2 {
//     background-image: url("../image/top_background-2.jpg");
//     // background-position: 0% 0%;
// }
// .bg-3 {
//     background-image: url("../image/top_background-3.jpg");
//     // background-position: 0% 0%;
// }

.about {
   text-transform: uppercase;
   word-wrap: normal;
   max-width: 20vw;
   &__title {
       font-weight: 400;
       @include mixins.adaptiv-font(59, 31);
       line-height: 1em;
       text-align: left;
       margin: 0px 0px 20px 0px;
   }
   &__subtitle {
       font-weight: 300;
       text-transform: none;
       @include mixins.adaptiv-font(32, 21);
       line-height: 1.2em;
       text-align: left;
   }
}