@use "../mixins";
@use "../variables" as vars;
.top {
   min-height: 95vh;
   color: #fff;
   background: linear-gradient(90deg, rgba(0,0,0,0.35) 0%, transparent 100%);
//    animation: background-change 9s linear infinite;
   &__about {
       padding-left: 10vw;
       padding-top: 20.5vh;
   }
   &__bgWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 60% 0%;
    background-repeat: no-repeat;
    background-size: 200vw 100vh;
    transition: background-image 3s;
   }
}
.bg-1 {
    background-image: url("../image/top_background-1.jpg");
}
.bg-2 {
    background-image: url("../image/top_background-2.jpg");
}
.bg-3 {
    background-image: url("../image/top_background-3.jpg");
}

.about {
   text-transform: uppercase;
   word-wrap: normal;
   max-width: 20vw;
   &__title {
       font-weight: 400;
       @include mixins.adaptiv-font(59, 31);
       line-height: 1em;
       text-align: left;
       margin: 0px 0px 20px 0px;
   }
   &__subtitle {
       font-weight: 300;
       text-transform: none;
       @include mixins.adaptiv-font(32, 21);
       line-height: 1.2em;
       text-align: left;
   }
}